<html ng-app="app">
	<head>
		<script src="js/angular.js"></script>
		<style>
			.old{
				background-color:gray;
			}
			.modern{
				background-color:blue;
			}
			.new{
				background-color:gold;
			}
			.likes{
				border: solid 1px black;
			}
		</style>
	</head>
	<body>
		<div ng-controller="MainController as main">
			<div class="likes"> 
				<p>
					Mario's like list: 
				</p>
				<ul>
					<li ng-repeat=" movie in main.likesList">
						<p>{{movie.title}}</p>
						<a href="" ng-click="main.unlike($index);"> Unlike this movie! </a>
					<li>
				</ul>
			</div>
			
			<ul>
				<li ng-class="{
					old:movie.year <1995,
					modern: movie.year >= 1995 && movie.year < 2000,
					new: movie.year >= 2000
				}"
					ng-repeat="movie in main.movies">
					<p>Title: {{movie.title}}</p>
					<p>Year: {{movie.year}}</p>
					<p ng-hide="!movie.isPopular">Is popular</p>
					<p ng-show="movie.year > 2000">Is kinda new</p>
					<a href="" ng-click="main.like(movie);"> Like this movie! </a>
				</li>
			</ul>
		</div>
		
		<script src="js/app.js"></script>
		<script src="js/MainController.js"></script>
	</body>
</html>
